body {
    background: rgb(226, 208, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: rgb(55, 55, 58);
}

.photo {
    border: solid rgb(92, 122, 85);
    border-radius: 50%;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: rgb(201, 61, 61);
}

.post_title {
    font-size: 20px;
    font-style: arial;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(209, 188, 188);
    padding: 15px;
    border: 3px solid rebeccapurple;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    color: rgb(104, 81, 139);
    text-decoration: none;
}